.landingPageContainer {
    background-image: url("../../images/bg-2.jpg");
    position: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPageContainer__box {
    background: fade-out(white, 0.15);
    border-radius: 3px;
    text-align: center;
    width: 25rem;
    padding: $l-size $m-size;
}

#google-sign-in-button {
    width: 100%;
}

#google-sign-in-button > div {
    margin: 0 auto;
}

.landingPageContainer__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}
